<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles.css" />
    </head>
<body>

    <h1 class ="heading1">Matthew Plush, 11/02/22</h1>
    <h2 class ="heading2">CS3300 Homework 04</h2>
    <div class = "saasSection">
        <h3 class ="heading3">SaaS</h3>
        <p class = "paragraph1">
            SaaS, or Software as a service, is method of application delivery in which the user is not required to download software. Instead, the application can be accessed through cloud storage.
            This relieves the user of any hastle that might come from maintaining the application on their machine. Instead of paying for a one time download, you can rent the application and pay as you go. This
            method allows companies to get an application up and running with little upfront cost. 
        </p>
        <a class = "link"href="https://azure.microsoft.com/en-us/resources/cloud-computing-dictionary/what-is-saas/">SaaS Resource</a>
        <h4 class ="heading4">Advantages of SaaS</h4>
        <ol class="list1">
            <li>Ability to access sophisticated applications without the need for maintenance.</li>
            <li>You can pay for only what you need.</li>
            <li>You have the ability to access data from anywhere, since it is stored on the cloud.</li>
            <li>SaaS is usually more cost beneficial when compared with traditional licensing models.</li>
        </ol>
    </div>
    <div class = "railsSection">
        <h3 class ="heading3">Rails</h3>

        <p class = "paragraph2">
            Rails is a full-stack web development framework. Rails assists developers in building websites and webapps because it simplifies
            repetetive tasks. Rails is written in Ruby, which is the language that is used in conjunction with Rails. Rails makes it easy to get your Ruby
            application up and running fast.
        </p>
    
        <a class = "link" href="https://bitzesty.com/2014/03/03/ruby-on-rails-what-it-is-and-why-we-use-it-for-web-applications/">
            <button class="button">Rails Resource</button>
        </a>

        <h4 class ="heading4">Advantages of Rails</h4>
    
        <ol class = "list2">
            <li>Programming can be much faster due to Ruby's object oriented nature and rails' open soure code.</li>
            <li>Easy to switch between rails projects due to their standardized structure.</li>
            <li>Rails has a good testing framework.</li>
            <li>Rails is open source so there are no licensing costs.</li>
        </ol>
    </div>
</body>
</html>